# dependencies
node_modules/

# builds
.next/
out/
dist/
coverage/

# secrets
.env
.env.*
!.env.example

# local
.vercel/
*.log
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# local database
local.db
local.db-*
